{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block title %} Sign Up {%endblock title%}
{%block content%}
<h2> Sign Up </h2>
<form method = "POST" id = "postForm">
    {%csrf_token%}
    {{form|crispy}}
    <div class="video-wrap">
        <video id="video" playsinline autoplay></video>
    </div>
    <div class="controller">
        <button id="snap">Capture</button>
    </div>
    <canvas id="canvas" width="640" height="480"></canvas>
    <input type="file" accept="image/*;capture=camera" capture="camera" name="photo" id="photoInput" style="display:none">
    <input type="submit" value="Save">

    <button class="btn-sm btn-success m-4" type = "submit"> Sign Up </button>
</form>
<p><span id = "errosMsg"></span></p>
<script>
    document.getElementById('snap').addEventListener('click', function() {
        var video = document.getElementById('video');
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        context.drawImage(video, 0, 0, 640, 480);
        canvas.toBlob(function(blob) {
            var formData = new FormData(document.getElementById('postForm'));
            formData.append('photo', blob, 'webcam_photo.png');
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '');
            xhr.send(formData);
        });
    });

    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function(stream) {
            var video = document.getElementById('video');
            video.srcObject = stream;
        })
        .catch(function(err) {
            var errorMsgElement = document.getElementById('errorMsg');
            errorMsgElement.innerHTML = 'Error: ' + err.message;
        });
</script>
{%endblock content%}

